body
{
    text-align: center;
}

div
{
    place-items: center;
    align-items: center;  
}

button
{
    background: #f4f4fc;  
    align-items: center;           
    border-radius: 20px;
    border: 1px;
    font-size: 17px;
    color: #325889;
    cursor: pointer;
    font-weight: 540;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;    
    width: 120px;
    transition-duration: 1s;
    box-shadow: 0px 0px 1px 1px #666666;
}

button:hover
{
    background: #ebebf3;
}

button:disabled
{
    background-color: transparent;
    color: #ebeff3;
    box-shadow: 0px 0px 1px 1px #c7c7c7;
    cursor: unset;
    transition-duration: 1s;
}

textarea
{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    border-radius: 0px;
    text-align: left;
    font-size: 17px;
    background-color:#f4f4fc;  
    color: #325889;
    margin: auto;
    margin-top: 2px;
    padding: 20px;
    transition: .3 ease all;
    transition-duration: 1s;
    border: 2px solid transparent;
    resize: none;
    caret-color: #325889;
}

textarea:focus
{
    outline: unset;
    border: 2px solid black;
    transition-duration: 1s;       
}

textarea::placeholder
{
    color: #325889;      
}

.textarea-result, .textarea-encrypter
{
    margin: auto;
    margin-top: 50px; 
}

h1
{
    margin: auto;
    text-align: center;
    color: #3a3a3a;
}

hr
{
    margin-bottom: 15px;
    width: 400px;
}

footer
{
    background-color: #f4f4fc; 
    position: fixed;
    padding: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
}

#msg-copy
{
    font-size: 18px;
    transition: .3 ease all;
    transition-duration: 2s;
    color:#325889;
}